Source: lightdm-gtk-greeter
Section: x11
Priority: optional
Maintainer: Alfonso de Cala <alfonso.cala@juntadeandalucia.es>
Build-Depends: debhelper (>= 9.20160115),
               exo-utils,
               intltool,
               libgtk-3-dev,
               libindicator3-dev,
               liblightdm-gobject-1-dev (>= 1.3.5) | liblightdm-gobject-dev (>= 1.3.5),
               pkg-config
Standards-Version: 4.1.2
Homepage: https://github.com/gecos-team/gecosws-lightdm-greeter
Vcs-Git: https://github.com/gecos-team/gecosws-lightdm-greeter.git
Vcs-Browser: https://github.com/gecos-team/gecosws-lightdm-greeter.git

Package: gecosws-lightdm-greeter
Provides: lightdm-greeter
Replaces: budgie-lightdm-theme (<< 0.7.2), lightdm (<< 0.9.2-1), lightdm-gtk
Breaks: budgie-lightdm-theme (<< 0.7.2), lightdm (<< 0.9.2-1), lightdm-gtk
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: adwaita-icon-theme,
            gnome-themes-standard,
            policykit-1
Suggests: desktop-base
Description: simple display manager (GTK+ greeter)
 A LightDM greeter that uses the GTK+ toolkit.
